.products_wrapper {
    @include grid-cols(4, 1fr, 0.7rem);

    @include devices(lg) {
        @include grid-cols(3, 1fr, 0.7rem);
    }

    @include devices(md) {
        @include grid-cols(2, 1fr, 0.6rem);
    }

    @include devices(xs) {
        grid-template-columns: 1fr;
    }
}

.products_filter_tabs {
    @include margin-y(3rem, 5rem);
}

.products_card {
    @include bordered(1px, rgba($color: #ffffff, $alpha: 0.4));
    border-radius: 3px;
    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.5);
    overflow: hidden;

    &.browse_card {
        @include centered;
        @include padding-y(5rem, 5rem);
        font-size: 1.5rem;

        a {
            @include transition(color, 0.3s);

            &:hover {
                color: #eee;
            }
        }
    }
}

.products_img {
    background: var(--bg-color-2);
    text-align: center;
    padding: 1rem;
    overflow: hidden;

    img {
        width: 70%;
        @include transition(transform, 0.25s, ease);

        &:hover {
            transform: scale(1.05);
        }
    }
}

.products_details {
    padding: 1rem;
}

.products_title {
    @include margin-y(0.8rem, 0.4rem);
}

.products_info {
    opacity: 0.8;
    font-weight: 500;
}

.products_btn {
    width: 100%;
    margin-top: 1.2rem;

    &.active {
        background-color: green;
    }

    &[disabled] {
        cursor: not-allowed;
    }
}


.sections_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; /* Adjust the gap between cards as needed */
    padding: 40px;
}

.section_card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.section_image {
    width: 100%;
    height: 450px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure images maintain their aspect ratio */
    border-radius: 8px 8px 0 0;
    margin-bottom: 20px;
}

.section_title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.view_button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #4b0082;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
        background-color: #7d20e1;
        transform: scale(1.05);
    }

    &:focus {
        outline: 2px solid #0056b3;
        outline-offset: 2px;
    }
}

/*------ All-Products Page ------*/
#all_products {
    padding-top: 8rem;
    display: grid;
    grid-template-columns: 240px 1fr;

    @include devices(lg) {
        grid-template-columns: 1fr;
    }

    .products_wrapper {
        @include devices(xl) {
            @include grid-cols(3, 1fr, 0.7rem);
        }

        @include devices(md) {
            @include grid-cols(2, 1fr, 0.6rem);
        }

        @include devices(xs) {
            grid-template-columns: 1fr;
        }
    }
}